*{
	padding: 0;
	margin: 0;
}
#box{
	background: #0ac0c9;
	width: 430px;
	height: 470px;
    border-radius: 30px;
	padding-bottom: 10px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 60px 40px 15px 40px;
  
  margin-left: -480px;
  margin-top: -70px;
}


.fl{
	float: left;
  width: 110px;
  line-height: 35px;
}

.fontLabel{
  color: white;
}

.fr{
	float: right;
}

.clr{
	clear: both;
}

.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}

.textBox{
	height: 35px;
	width: 190px;
	border: none;
  padding-left: 20px;
}

.new{
  float: left;
}

.iconBox{
	height: 35px;
	width: 40px;
	line-height: 38px;
	text-align: center;
  background: #ff6600;
}


.radio{
	color: white;
	background: #0ac0c9;
	line-height: 38px;
}

.terms{
	line-height: 35px;
	text-align: center;
	background: #0ac0c9;
	color: white;
}

.submit{
	float: right;
	border: none;
	color: white;
	width: 110px;
	height: 35px;
	background: #ff6600;
	text-transform: uppercase;
  cursor: pointer;
}
a{
    color: white;
}
h1{
    align-content: center;
    margin-left: 160px;
    color: white;
    margin-bottom: 40px;
}
form{
    margin-left: 25px;
}
h4{
    margin-left: 180px;
}
h3{
    margin-left: 120px;
}
h1{
	color: blanchedalmond;
	font-size: 50px;
	font-family:verdana;
	margin-left: 90px;
	margin-top: -30px;
}
h5{
	font-size:small;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}